html {
  font: 20px Verdana;
  color: white;
  background-color: black;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 2px;
  border: 1px solid black;
}

th {
  text-align: left;
  color: black;
  background-color: white;
}

